<div class="d-flex flex-column h-100 align-items-center">
  <div class="d-flex flex-column h-50 align-items-center mt-4">
    <h1 class="text-white">Björn Biester</h1>
    <h2 class="text-white-50">Photographer | Musician | IT specialist | Web-designer</h2>
  </div>
  <div class="h-50 w-75 align-items-center">
    <div class="row">
      <div class="col-sm text-center p-2">
        <div class="link-hover position-relative">
          <img src="assets/img/instagram.jpg" class="img-fluid rounded-circle avatar">
          <div class="d-flex flex-column  text">
            <a routerLink="/home" class="text-white stretched-link no-link-style"><span>My creative work</span></a>
          </div>
        </div>
        <p class="text-light">Test</p>
      </div>
      <div class="col-sm text-center p-2">
        <div class="link-hover position-relative">
          <img src="assets/img/profile.jpg" class="img-fluid rounded-circle avatar">
          <div class="d-flex flex-column text">
            <a routerLink="/home" class="text-white stretched-link no-link-style"><span>My career</span></a>
          </div>
        </div>
        <p class="text-light">Test</p>
      </div>
      <div class="col-sm text-center p-2">
        <div class="link-hover position-relative">
          <img src="assets/img/Sanitäter.jpeg" class="img-fluid rounded-circle avatar">
          <div class="d-flex flex-column  text">
            <a routerLink="/home" class="text-white stretched-link no-link-style"><span>My volunteer work</span></a>
          </div>
        </div>
        <p class="text-light">Test</p>
      </div>
    </div>
  </div>
</div>
