<div class="d-flex flex-column h-100 align-items-center">
    <app-header class="h-50 mt-4"></app-header>
    <div class="h-50 w-75 align-items-center">
        <div class="row">
            <div class="col-sm text-center p-2">
                <div class="link-hover position-relative">
                    <div class="d-flex flex-column text">
                        <a routerLink="/music" class="text-white stretched-link no-link-style"><span>Music</span></a>
                    </div>
                </div>
                <p class="text-light">Test</p>
            </div>
            <div class="col-sm text-center p-2">
                <div class="link-hover position-relative">
                    <div class="d-flex flex-column text">
                        <a routerLink="/photography" class="text-white stretched-link no-link-style"><span>Photography</span></a>
                    </div>
                </div>
                <p class="text-light">Test</p>
            </div>
        </div>
    </div>
</div>