<div class="text-white"><h1>Impressum</h1>
<div class="text-white-50">Angaben gemäß § 5 TMG</div>
<address>
  <strong>Björn Biester</strong>
  <div>Neulingstr. 18/1</div>
  <div>74399 Walheim</div>
</address>
<h3>Kontakt</h3>
<p>E-Mail: webmaster@monkmitrad.de</p>
<div>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</div>
<address>
  <strong>Björn Biester</strong>
  <div>Neulingstr. 18/1</div>
  <div>74399 Walheim</div>
</address>
<h2>Haftung für Inhalte</h2>
Als Diensteanbieter bin ich gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den
allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht
verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.
<h2>Haftung für Links</h2>
Mein Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe.
Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
waren zum Zeitpunkt der Verlinkung nicht erkennbar.
</div>
